
/*Stałe elementy strony*/
body { background-color: #f5f5eb; }
p { color: #000;}


/*Klasy*/

@media only screen and (min-width: 992px) {
  .main-content {
    margin-left: 15%;
    margin-right:15%;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    height:80px;
    padding-top:20px;
     margin-bottom:40px;
  }
}

@media only screen and (max-width: 991px) {
  .nav {
    height:40px;
    margin-bottom:20px
  }
}



.navbar {background-color:#737d75;}


@media only screen and (min-width: 767px) {
  .navbar .container ul li {
    display: inline-flex
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container ul li{
    
    float:left;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container ul{
    
    list-style-type: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container a img{
    display: none;
 
  }
}
 

.nav-link {font-size:20px !important; text-align:center; color: #fff !important;}
.nav-link:hover{color: #ebeb0e !important;}
