/*Stałe elementy 0strony*/
body { background-color: #f5f5eb; }
p { color: #000;}


/*Klasy*/

@media only screen and (min-width: 992px) {
  .main-content {
    margin-left: 15%;
    margin-right:15%;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    height:80px;
    padding-top:20px;
     margin-bottom:40px;
  }
}

@media only screen and (max-width: 991px) {
  .nav {
    height:40px;
    margin-bottom:20px
  }
}



.navbar {background-color:#737d75; margin-bottom:40px;}


@media only screen and (min-width: 767px) {
  .navbar .container ul li {
    display: inline-flex
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container ul li{
    
    float:left;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container ul{
    
    list-style-type: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .container a img{
    display: none;
 
  }
}

.scroll-top-button {
    
    display: none;
    background-color: #212529;
    font-size: 16px;
    font-weight:bold;
    color: #fff;
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    padding: 15px;
     border: none;
  outline: none;
    border-radius: 10px;
       
}

.scroll-top-button:hover{
    color: #000;
    background-color: #ebeb0e;
}
 

.nav-link {font-size:20px !important; text-align:center; color: #fff !important;}
.nav-link:hover{color: #ebeb0e !important;}

#video {max-width:500px; max-height:400px; padding:20px; display:none; margin-left:auto; margin-right:auto;}
.video-button {width:130px; height:50px; text-align:center; background-color: #212529; color: #fff; font-weight: 700; border-radius: 15px; border-style: none; display:block;}
.video-button:hover{background-color:grey;}
